@import "tailwindcss";

#project_live_button{
     @media (max-width: 366px) {
     width: 17vh;
  }
}

@plugin "daisyui";

/* globals.css ya App.css me */
section {
  scroll-margin-top: 5rem; /* Smooth scroll ke liye */
}

main {
  padding-top: 5rem; /* Ya fir direct main element me */
}


